<div class="App">
  <header class="App-header">
    <img src="../assets/angular.svg" class="App-logo" alt="logo" />
    <div>Get The Data Change from Remote: {{ remotecounter }}</div>
    <hr />
    <div style="display: flex">
      <button routerLink="/adder" routerLinkActive="active" class="button">
        Shell
      </button>
      <button
        routerLink="/remote/multiply"
        routerLinkActive="active"
        class="button"
      >
        MF1
      </button>
    </div>

    <div>shell counter: {{ shellService.counter$ | async }}</div>

    <div style="display: flex">
      <button (click)="shellService.increase()" class="button">+</button>
      <button (click)="shellService.decrease()" class="button">-</button>
    </div>

    <div class="router_container">
      <span>
        This is routeroutlet for counterComponent:
        <strong>mfe1 & shell</strong>
      </span>
      <router-outlet></router-outlet>
    </div>
  </header>
</div>
